.App {
  text-align: center;
}

.animalCard {
  border: 5px solid rgba(250, 172, 62, 0.338);
  border-radius: 15px;
}
.arr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 15px solid rgba(250, 172, 62, 0.79);
  background-color: black;
}

.Header {
  background-color: black;
}

.Header h1 {
  margin-bottom: 0;
  padding: 55px;
  color: white;
}
