@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#root {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
  border-radius: 10px;
}

#message {
  color: rgb(255, 80, 156);
  font-family: 'Creepster', cursive;
}
#HornForm {
  /* border: 10px solid rgba(250, 172, 62, 0.79);
  border-radius: 10px; */
  color: rgba(255, 127, 80, 0.81);
  padding-bottom: 30px;
  padding-top: 30px;
}

.animalCard {
  border: 5px solid rgba(250, 172, 62, 0.338);
  border-radius: 15px;
}
.arr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0px 20px 0px;
  border: 15px solid rgba(250, 172, 62, 0.79);
  border-radius: 15px;

  background-color: black;
}

.Header {
  /* background-color: black; */
  border: 10px solid rgba(250, 172, 62, 0.529);
  border-radius: 15px;
}

.Header h1 {
  margin-bottom: 0;
  padding: 55px;
  color: white;
}

#footerText {
  font-family: 'Pacifico';
}
